<!DOCTYPE html>
<html>
<head>
    <title>Database Test Criminal Management System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typography.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/utilities.css') }}">
    <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body>
    <h1>Crminal Information Table</h1>
<!--
    <form action="/add_course" method="post">
        <input type="text" name="course_id" placeholder="Course ID" required>
        <input type="text" name="call_id" placeholder="Call ID" required>
        <input type="text" name="course_name" placeholder="Course Name" required>
        <input type="number" name="credits" placeholder="Credits" required>
        <button type="submit">Add Class</button>
    </form>
-->

    <div class="navbar">
      <a class="nav-title-link" href="{{ url_for('index') }}">
      <span class="nav-title">Home Page</span>
    </a>
    </div>

    <table>
        <thead>
            <tr>
                <th>Criminal ID</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Phone Number</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Violent Offender Status</th>
                <th>Probation Status</th>
            </tr>
        </thead>
        <tbody>
            {% for criminal in criminal_info %}
                <tr>
                    <td>{{ criminal.Criminal_ID }}</td>
                    <td>{{ criminal.Last }}</td>
                    <td>{{ criminal.First }}</td>
                    <td>{{ criminal.Phone }}</td>
                    <td>{{ criminal.Street }}</td>
                    <td>{{ criminal.City }}</td>
                    <td>{{ criminal.State }}</td>
                    <td>{{ criminal.Zip }}</td>
                    <td>{{ criminal.V_status }}</td>
                    <td>{{ criminal.P_status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Add New Criminal</h1>


    <form action="/POST_criminal" method="post">
      <input type="int" name="Criminal_ID" placeholder="Criminal ID" required>
      <input type="text" name="Last" placeholder="Last Name" required>
      <input type="text" name="First" placeholder="First Name" required>
      <input type="text" name="Phone" placeholder="Phone Number" required>
      <input type="text" name="Street" placeholder="Street" required>
      <input type="text" name="City" placeholder="City" required>
      <input type="text" name="State" placeholder="State" required>
      <input type="text" name="Zip" placeholder="Zip" required>
      <input type="text" name="V_status" placeholder="Violent Offender Status" required>
      <input type="text" name="P_status" placeholder="Probation Status" required>

      <button type="submit">Submit</button>
  </form>

  {% if error %}
  <div class="error-message">{{ error }}</div>
  {% endif %}

</body>
</html>