<!DOCTYPE html>
<html>
<head>
    <title>Database Test Criminal Management System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typography.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/utilities.css') }}">
    <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body>
    <h1>Crminal Information Table</h1>


    <div class="navbar">
      <a class="nav-title-link" href="{{ url_for('index') }}">
      <span class="nav-title">Home Page</span>
    </a>

    <div class="nav-right">
        <a class="nav-title-link" href="{{ url_for('login') }}">
            <span class="nav-title">Logout</span>
        </a>
    </div>
    
    </div>

    <table>
        <thead>
            <tr>
                <th>Criminal ID</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Phone Number</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Violent Offender Status: A (Active)/ I (Inactive)</th>
                <th>Probation Status: A (Active)/ I (Inactive)</th>
            </tr>
        </thead>
        <tbody>
            {% for criminal in criminal_info %}
                <tr>
                    <td>{{ criminal.Criminal_ID }}</td>
                    <td>{{ criminal.Last }}</td>
                    <td>{{ criminal.First }}</td>
                    <td>{{ criminal.Phone }}</td>
                    <td>{{ criminal.Street }}</td>
                    <td>{{ criminal.City }}</td>
                    <td>{{ criminal.State }}</td>
                    <td>{{ criminal.Zip }}</td>
                    <td>{{ criminal.V_status }}</td>
                    <td>{{ criminal.P_status }}</td>
                    <td>
                        <!-- Edit Button  -->
                        <!-- Delete button -->
                            <form action="{{ url_for('delete_criminal') }}" method="post">
                                <input type="hidden" name="criminal_id" value="{{ criminal.Criminal_ID }}">
                                <button type="submit" class = "button delete-button">Delete</button>
                            </form>
                        </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Add New Criminal</h1>


    <form action="/POST_criminal" method="post">
      <input type="int" name="Criminal_ID" placeholder="Criminal ID" required>
      <input type="text" name="Last" placeholder="Last Name" required>
      <input type="text" name="First" placeholder="First Name" required>
      <input type="text" name="Phone" placeholder="Phone Number" required>
      <input type="text" name="Street" placeholder="Street" required>
      <input type="text" name="City" placeholder="City" required>
      <input type="text" name="State" placeholder="State" required>
      <input type="text" name="Zip" placeholder="Zip" required>
      <input type="text" name="V_status" placeholder="Violent Offender Status" required>
      <input type="text" name="P_status" placeholder="Probation Status" required>

      <button type="submit">Submit</button>
  </form>

  <h1>Edit Criminal Information</h1>

  <form action="/edit_criminal" method="post">
      <input type="text" name="Criminal_ID" placeholder="Enter Criminal ID to Edit" required>

      <h2>Update Crminal Details</h2>
      <input type="text" name="Last" placeholder="Last Name">
      <input type="text" name="First" placeholder="First Name">
      <input type="text" name="Phone" placeholder="Phone Number">
      <input type="text" name="Street" placeholder="Street">
      <input type="text" name="City" placeholder="City">
      <input type="text" name="State" placeholder="State">
      <input type="text" name="Zip" placeholder="Zip">
      <input type="text" name="V_status" placeholder="Violent Offender Status: Y (Yes)/ N (No)">
      <input type="text" name="P_status" placeholder="Probation Status: Y (Yes)/ N (No)  ">
      <button type="submit">Update Criminal</button>
  </form>


  {% if error %}
  <div class="error-message">{{ error }}</div>
  {% endif %}

</body>
</html>