<!DOCTYPE html>
<html>
<head>
    <title>Database Test Criminal Management System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typography.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/utilities.css') }}">
    <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body>
    <style>
        body {
            background-image: url('static/css/image/white-background.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-blend-mode:color-dodge;
            background-size: cover;
        }
    </style>  
    <h1>Crime Code Information Table</h1>

    <div class="navbar">
      <a class="nav-title-link" href="{{ url_for('index') }}">
      <span class="nav-title">Home Page</span>
    </a>
    <div class="nav-right">
        <a class="nav-title-link" href="{{ url_for('login') }}">
            <span class="nav-title">Logout</span>
        </a>
    </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>Crime Code</th>
                <th>Code Description</th>
            </tr>
        </thead>
        <tbody>
            {% for Crime_Codes in crimecode_info %}
                <tr>
                    <td>{{ Crime_Codes.Crime_code }}</td>
                    <td>{{ Crime_Codes.Code_description }}</td>
                    <td>
                        <!-- Edit Button  -->
                        <!-- Delete button -->
                            <form action="{{ url_for('delete_crimecode') }}" method="post">
                                <input type="hidden" name="crimecode" value="{{ Crime_Codes.Crime_code }}">
                                <button type="submit" class = "button delete-button">Delete</button>
                            </form>
                        </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Add New Crime Code</h1>


    <form action="/POST_crimecode" method="post">
      <input type="int" name="Crime_code" placeholder="Crime CODE" required>
      <input type="text" name="Code_description" placeholder="Code Description" required>
      <button type="submit">Submit</button>
  </form>

  <h1>Edit Crime Code Information</h1>

  <form action="/edit_crimecode" method="post">
      <input type="text" name="Crime_code" placeholder="Enter Crime code to Edit" required>

      <h2>Update Officer Details</h2>
      <input type="text" name="Code_description" placeholder="Code Description">
      <button type="submit">Update Crime Code</button>
  </form>

  {% if error %}
  <div class="error-message">{{ error }}</div>
  {% endif %}

</body>
</html>