<!DOCTYPE html>
<html>
<head>
    <title>Database Test Criminal Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typography.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/utilities.css') }}">
    <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body>
    <h1>Current Appeal Information</h1>


    <div class="navbar">
      <a class="nav-title-link" href="{{ url_for('index') }}">
      <span class="nav-title">Home Page</span>
    </a>`

    <div class="nav-right">
        <a class="nav-title-link" href="{{ url_for('login') }}">
            <span class="nav-title">Logout</span>
        </a>
    </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>Appeal ID</th>
                <th>Crime ID</th>
                <th>Filing Date</th>
                <th>Hearing Date</th>
                <th>Status: P (Pending)/ A (Approved)/ D (Disapproved)</th>
            </tr>
        </thead>
        <tbody>
            {% for appeal in appeal_info %}
                <tr>
                    <td>{{ appeal.Appeal_ID }}</td>
                    <td>{{ appeal.Crime_ID }}</td>
                    <td>{{ appeal.Filing_date }}</td>
                    <td>{{ appeal.Hearing_date }}</td>
                    <td>{{ appeal.Status }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
  {% if error %}
  <div class="error-message">{{ error }}</div>
  {% endif %}

</body>
</html>

