<!DOCTYPE html>
<html>
<head>
    <title>Database Test Criminal Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typography.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/utilities.css') }}">
    <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body>
    <h1>Current Alias Information</h1>


    <div class="navbar">
      <a class="nav-title-link" href="{{ url_for('index') }}">
      <span class="nav-title">Home Page</span>
    </a>`

    <div class="nav-right">
        <a class="nav-title-link" href="{{ url_for('login') }}">
            <span class="nav-title">Logout</span>
        </a>
    </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>Alias ID</th>
                <th>Criminal ID</th>
                <th>Alias</th>
            </tr>
        </thead>
        <tbody>
            {% for alias in alias_info %}
                <tr>
                    <td>{{ alias.Alias_ID }}</td>
                    <td>{{ alias.Criminal_ID }}</td>
                    <td>{{ alias.Alias }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

  {% if error %}
  <div class="error-message">{{ error }}</div>
  {% endif %}

</body>
</html>

