<!DOCTYPE html>
<html>
<head>
    <title>Database Test Criminal Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typography.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/utilities.css') }}">
    <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body>
    <h1>Current Sentences Information</h1>


    <div class="navbar">
      <a class="nav-title-link" href="{{ url_for('index') }}">
      <span class="nav-title">Home Page</span>
    </a>`

    <div class="nav-right">
        <a class="nav-title-link" href="{{ url_for('login') }}">
            <span class="nav-title">Logout</span>
        </a>
    </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>Sentence ID</th>
                <th>Criminal ID</th>
                <th>Type</th>
                <th>Probation Officer ID</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Violations</th>
            </tr>
        </thead>
        <tbody>
            {% for sentence in sentence_info %}
                <tr>
                    <td>{{ sentence.Sentence_ID }}</td>
                    <td>{{ sentence.Criminal_ID }}</td>
                    <td>{{ sentence.Type }}</td>
                    <td>{{ sentence.Prob_ID }}</td>
                    <td>{{ sentence.Start_date }}</td>
                    <td>{{ sentence.End_date }}</td>
                    <td>{{ sentence.Violations }}</td>

                </tr>
            {% endfor %}
            <tr>
                <td colspan="100%">Notes:Type: J (Jail)/ H (House Arrest)/ P (Probation)</td>
            </tr>
        </tbody>

    </table>


  {% if error %}
  <div class="error-message">{{ error }}</div>
  {% endif %}

</body>
</html>

